.topic{
	margin-top:7vh;
	.row {
		margin-top:2vh;
	}
}
.columnanoticias{
	//border:1px solid black;
}
.news {
	h5{
		@include divisor;
		@include titlestyle;
	}
	h6{
		@include redtext;
	}
	p{
		@include paragraphstyle;
	}
	.subtitle{
		@include darkgraytext;
	}
	
}
.staricons{
	.material-icons{
		font-size:0.8em;
	}
	span{
		color:$focuscolor;
	}
}
.stayconected{

	.facebooksquare{
		background-color:$facebookcolor;
		padding:1.3rem;
		text-align:center;
	}
	.twittersquare{
		padding:1.3rem;
		background-color:$twittercolor;
		text-align:center;
		border-left:2px solid $whiteborder;
		border-right:2px solid $whiteborder;
	}
	.rssquare{
		padding:1.3rem;
		background-color:$rrsscolor;
		text-align:center;
	}
	.fa{
		color:$rrssicon;
		font-size:2rem;
	}
}