$whitebackground : #FFFFFF;
$focuscolor:#EA4748;
$darkgray:#696969;
$lightgray:#A7A7A7;
$facebookcolor:#1A0680;
$rrssicon:#FFFFFF;
$facebookcolor:#3B5998;
$twittercolor:#5DA9DD;
$rrsscolor:#FFBE21;
$whiteborder:#FFFFFF;